.header{
    max-width: 100%;
    background: #3b5998;
}
.header__row{
    display: flex;
    flex: 0 1 auto;
    padding: 20px 0 10px 0;
}
.header__description{
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
}