.nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    li{
        padding-bottom: 30px;
        font-size: 20px;
        font-weight: bold;
        &:last-child{
            padding: 0;
        }
        a{
            color: black;
        }
        a.active{
            color: rgb(121, 121, 121);
        }
    }
}
.best{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.friends{
    display: flex;
    margin-left: 17px;
}
.name{
    font-size: 16px;
    font-weight: bold;
    padding-top:10px;
}
.title{
    text-align: center;
    font-size: 26px;
    padding-bottom: 20px;
}