.dialogs__row{
    width: 100%;
    display: flex;
}
.dialogs{
    margin: 0 40px;
    .dialog{
        padding-bottom: 40px;
        font-size: 20px;
        a{
            color: black;
        }
    }
}
.messages__row{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    textarea{
        font-size: 20px;
        background: rgb(204, 204, 204);
        font-style: italic;
        margin: 20px 0 5px 0;
        padding: 5px 0px 0px 10px;
        opacity: .5;
        width: 100%;
        height: 70px;
    }
    button{
        background: green;
        padding: 5px 20px 5px 20px;
        color: white;
    }
    .btn{
        text-align: right;
    }
}
.messages{

    .message{
        padding-bottom: 40px;
        font-size: 20px;
        font-style: italic;

    }
}